html, body, #root {
    height: 100%;
}

#root {
    display: flex;
}

.poster {
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 15px;
    text-align: center;
}

.select {
    display: block;
}

.select__input {
    min-width: 250px;
    margin: 5px 0;
    padding: 5px;
    font-size: 16px;
}